
  
  /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%
  COLOR EDITS GO HERE
  %%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
  
  
  #bullseye-widget2 .theDistance, #bullseye-widget2 #bullseye-banner-header-nearest-store address, #bullseye-widget2 #bullseye-banner-header-nearest-store address > span {
    color: #000000;
    opacity: 1;
  }
  
  #bullseye-widget2 #slidebox div.arrow, #bullseye-widget2 #slidebox a.close {
    border-color: #888888 transparent transparent !important; /* Be sure to leave "transparent transparent" after the color to maintain an arrow shape! */
    color: #888888 !important; /* This controls the close "X" color */
    opacity: 1 !important;
  }
  
  #bullseye-widget2 .headerWrap {
    background-color: #de1b1b; 
  }
  
  #bullseye-widget2 .mapLink {
    background-color: #de1b1b; 
  }
  
  /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%
  END COLOR EDITS
  %%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

  body {
    line-height: 1.8;
  }

  body #bullseye-widget2 #slidebox *, body #bullseye-widget2 #slidebox p {
    font-family: Arial,sans-serif !important;
  }

  
@media screen and (max-width: 480px) {#slidebox {width: 100%!important;}#bullseye-widget2 .storeImg > img {max-width: 70px!important;}#bullseye-widget2 #bullseye-banner-header-nearest-store > address {position: relative!important;right: 10px!important;}#bullseye-widget2 .theDistance {left: 85px!important;font-size: 10px!important;bottom: 40px!important;}}

#bullseye-widget2 #slidebox {
	left: calc(50% - 205px)!important;
	
}
  /* Widget is aligned to bottom right corner by default. Delete comments on one of the following lines for different alignments

  /* LEFT ALIGNED
    left: 0!important;
  */
  
    /* LEFT ALIGNED
	right: 30!important;
	*/

  /* CENTER ALIGNED
    left: calc(50% - 205px)!important;
  */
}

/* Mobile specific edits */
@media screen and (max-width: 480px) {
  #bullseye-widget2 #slidebox #bullseye-banner-header #bullseye-banner-header-inner #bullseye-banner-header-nearest-store > .headerWrap > p {
    font-size: 10px!important;
    position: absolute!important;
    left: 44px!important;
    top: 2px!important;
    white-space: nowrap!important;
  }
}